body {
    background: #2a8095;
  	color: 	#952a4a;
  	font-family: 'comic sans';
  	font-size: 14px;
  	margin: 0;
  	padding: 0;

}

p {
	line-height: 30px;
	margin: 0;
}

#header {
	margin: 0 auto;
	max-width: 960px;
}
#header h1 {
	font-size: 50px;
	font-weight: normal;
	line-height: 50px;
	margin: 0;
	padding: 30px 0;
	text-align: center;
}

#header h1 a {
	color: #99fa99;
	text-decoration: none;
}

#header h2 {
	padding: 0px 0 0 0;
	text-align: center;
  color: #b6d8cf;
	display: block;
	font-family: 'comic sans';
	font-size: 26px;
	/*text-transform: uppercase;*/
}

#header h2 a {
	color: #99fa99;
	text-decoration: none;
}

#header ul#navbar {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}
#header ul#navbar li {
	display: inline;
	line-height: 30px;
	position: relative;
}
#header ul#navbar li a {
	color: #b6d8cf;
	font-size: 18px;
	padding: 0 46px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
